h1 {
  text-align: center; 
  font-size: 50px; 
  padding: 0px;
  color: #8D493A; 
  display: inline-block;
  font-family: "Oswald";
  border-color: #8D493A solid;
}

h2 {
  text-align: center; 
  font-size: 40px; 
  padding: 0px;
  color: #8D493A; 
  display: inline-block;
  font-family: "Oswald";
}

label {
  text-align: center; 
  font-size: 50px; 
  color: #8D493A; 
  display: inline-block;
  font-family: "Oswald";
}

p {
  text-align: center; 
  font-size: 40px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
  font-family: "Oswald";
  padding: 0px;
}

form {
  text-align: center; 
  color:#333; 
  font-size: 25px; 
  font-family: "Oswald";
}

table {
  text-align: center;
  width: 15%; 
  color: #8D493A; 
}

body {
  padding: 50px 0; 
  text-align: center; 
  background: #F8EDE3;
}

input {
  width: 175px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #DFD3C3;
  border-radius: 4px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
}

button {  
  font-family: "Oswald";
  font-size: 20px;
  color: #8D493A;
  display: inline-block;
  justify-content: center;
  background-color: #DFD3C3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

button:hover {
  background-color: #D0B8A8;
}

.homebutton {
  font-family: "Oswald";
  font-size: 15px;
  color: #8D493A;
  background-color: #DFD3C3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  position: absolute;
  left: 0;
}

.homebutton:hover {
  background-color: #D0B8A8;
}

img {
  width: 228px;
  height: 228px;
  border-radius: 5px;
  padding: 0;
}

.spanish {
  width: 600px;
  height: 220px;
  border-radius: 5px;
}

.books {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
