/* General Styles */
body {
  padding: 50px 0; 
  text-align: center; 
  background: #F8EDE3;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center; 
  font-size: 50px; 
  padding: 0px;
  color: #8D493A; 
  display: inline-block;
  border: 2px solid #8D493A;
}

h2 {
  text-align: center; 
  font-size: 40px; 
  padding: 0px;
  color: #8D493A; 
  display: inline-block;
}

label {
  text-align: center; 
  font-size: 50px; 
  color: #8D493A; 
  display: inline-block;
}

p {
  text-align: center; 
  font-size: 40px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
  padding: 0px;
}

form {
  text-align: center; 
  color: #333; 
  font-size: 25px; 
}

table {
  text-align: center;
  width: 15%; 
  color: #8D493A; 
}

/* Input and Button Styles */
input {
  width: 175px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #DFD3C3;
  border-radius: 4px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
}

button {  
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #8D493A;
  display: inline-block;
  background-color: #DFD3C3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

button:hover {
  background-color: #D0B8A8;
}

.homebutton {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: #FFFFFF; 
  background-color: #8D493A; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  position: fixed; 
  top: 20px; 
  left: 20px; 
}

.homebutton:hover {
  background-color: #6F2D1F; 
}

/* Image Styles */
img {
  width: 228px;
  height: 228px;
  border-radius: 5px;
  padding: 0;
}

.spanish {
  width: 600px;
  height: 220px;
  border-radius: 5px;
}

.books {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
