h1 {
  text-align: center; 
  font-size: 20px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
}

h2 {
  text-align: center; 
  font-size: 20px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
}

label {
  text-align: center; 
  font-size: 20px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
}

p {
  text-align: center; 
  font-size: 20px; 
  color: #8D493A; 
  background-color: #DFD3C3;
  display: inline-block;
}

form {
  text-align: center; 
  color:#333; 
  font-size: 25px; 
  font-family: 'Yantramanav', sans-serif;
}

table {
  text-align: center;
  width: 15%; 
  color: #8D493A; 
}

body {
  padding: 70px 0; 
  text-align: center; 
  background: #F8EDE3;
}

button {  
  display: inline-block;
  justify-content: center;
  background-color: #DFD3C3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 30px;
}

button:hover {
  background-color: #D0B8A8;
}
