<h1>Get your Definition!</h1>
<form action="/get_definition" method="post">
  <label for="word">What would you like to define?</label>
  <input id="word" type="text" name="user_word"> 

  <button>Define</button>
</form>
