<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Dictionary</title>
  </head> 
  <body>

  <h1>Dictionary</h1>

  <form action="/get_definition" method="post">
    <div>
      <label for="definition">What would you like to define?</label>
    </div>

    <div>
      <input id="definition" type="text" name="user_word"> 
    </div>

  <button>Define!</button>
  
  </form>
  </body>
</html>
