<!DOCTYPE html>

<link rel="stylesheet" href="style.css">

<h1>Welcome to your Dictionary!</h1>

<form action="/get_definition" method="post">

  <label for="definition">What would you like to define?</label>
  <input id="definition" type="text" name="user_word"> 

  <button>Define!</button>
  
</form>
</html>
