<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to your Dictionary and Spanish Translator!</h1>
  </body>
</html>
