<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Homepage</title>
  </head>
  <header>
    <h1>Welcome to your Dictionary and English/Spanish Translator</h1>
  </header>
  <body>
    <img src="/images/OpenBook.png" alt="Book Icon">
  </body>
</html>
