<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Dictionary/Spanish Translator</title>
  </head>

  <body>

      <%= yield %>

        <div>
         <br>
          <a href="/definitions">
            <button type="button">Get A Definition</button>
          </a>
          <a href="/translate">
            <button type="button">Get A Translation</button>
          </a>
        </div>


  </body>
</html>
