<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="style.css">
    <title>Dictionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
      <table>
      <tr>
        <td>
          <a href="/definitions">Definition</a>
        </td>

        <td>
          <a href="/translate">Translation</a>
        </td>

      </tr>
    </table>
    <%= yield %>
  </body>
</html>
