<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Dictionary/Spanish Translator</title>
  </head>

  <body>

      <%= yield %>

        <div>
         <br>
          <a href="/definitions">
            <button type="button">Get Definition</button>
          </a>
       </div>
        <br>
        <div>
          <a href="/translate">
            <button type="button">Get Translation</a></button>
        </div>


  </body>
</html>
