<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Dictionary/Spanish Translator</title>
  </head>

  <body>
      <table>
      <tr>
        <td>
          <a href="/definitions">Definition</a>
        </td>

        <td>
          <a href="/translate">Translation</a>
        </td>

      </tr>
    </table>
    <%= yield %>
  </body>
</html>
