<!DOCTYPE html>

<link rel="stylesheet" href="style.css">

<h1>Welcome to your Translator!</h1>

<form action="/get_translation" method="post">

  <label for="translate">What would you like to translate?</label>
  <input id="translate" type="text" name="translate_user_word"> 

  <button>Translate!</button>

</form>
</html>
