<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Translator</title>
  </head>
  <body>

  <h1>Translator</h1>

  <form action="/get_translation" method="post">

    <div>
      <label for="translate">What would you like to translate?</label>
    </div>
    <div>
      <input id="translate" type="text" name="translate_user_word"> 
    </div>
    
    <button>Translate!</button>
      <br>
  </form>
 </body>
</html>
